*.aiida
*.pyc
.*.swp
.*.swo
.vimprj
.ropeproject
*.egg*
.idea
.cache
*.orig
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*
*__pycache__
.coverage
.tox
.pytest_cache
*.vscode
docs/_build
docs/source/apidocs
build/
dist/
docs/source/api/
docs/source/apidoc/
.ipynb_checkpoints
DOSCAR
CHG
CHGCAR
IBZKPT
REPORT
WAVECAR
PCDAT
XDATCAR
OSZICAR
EIGENVAL
vaspout.h5
POT
