*.aiida
*.pyc
.*.swp
.*.swo
.vimprj
.ropeproject
*.egg*
.idea
.cache
*.orig
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*
*__pycache__
.coverage
.tox
.pytest_cache
*.vscode
docs/_build
build/
dist/
docs/source/api/
docs/source/apidoc/
