exclude: '^(doc)|(cookiecutters)|(aiida_vasp/test_data)'
exclude_types: gzip
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.2.3
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-added-large-files
  - id: double-quote-string-fixer
  - id: forbid-new-submodules

- repo: git://github.com/pre-commit/mirrors-yapf
  sha: v0.28.0
  hooks:
  - id: yapf
    language: system
    types: [python]

- repo: local
  hooks:
  - id: prospector
    name: prospector
    entry: prospector
    language: system
    types: [python]
  - id: travis-linter
    name: travis
    entry: travis lint
    files: .travis.yml
    language: ruby
    additional_dependencies: ['travis']
  - id: version-updater
    name: updating version entries
    language: system
    entry: python ops/update_version.py
    always_run: true

- repo: git://github.com/Lucas-C/pre-commit-hooks-markup
  sha: v1.0.0
  hooks:
  - id: rst-linter
