tabulate
lxml
click
chainmap
pyparsing
aiida-core[atomic_tools]~=2
-e git+https://github.com/aiida-vasp/aiida-vasp.git@develop#egg=aiida-vasp
sphinx~=5
sphinx-autobuild
sphinx_rtd_theme
sphinxcontrib-details-directive
